body {
    background: black;
    background-image: url('https://3.bp.blogspot.com/-ezaj8vZoiGQ/XC8XdtOC8fI/AAAAAAAAD0s/UYdy0Mj5Fz4MdXSYPwPxq3vU06GgkaBkACHMYCw/w1200-h630-p-k-no-nu/adidas-black-background-%25E2%259D%25A4-4k-hd-desktop-wallpaper-for-4k-ultra-hd.jpg');
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    border-radius: 50%;
  }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 100px;
  }

.profile-name {
      text-align: center;
      padding: 30px;
  }

.links {
      text-align: center;
      margin-top: 18px;
      padding: 15px;
      border: 1px solid white;
      border-width: 2px;
      width: 280px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 40px;
  }

a {
    text-decoration: none;
    color: white;
    transition: color 1s;
}

.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    color: #000;
    background: #fff;
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
}
